#container {
    width: 100vh;
    height: 100vh;
    margin: 60px auto;
    margin-top: 10px;
    position: relative;

    .monthContainer {
        width: 100%;
        height: 100%;

        .pic {
            width: 150px;
            height: 200px;
        }

        .pic-x {
            height: 150px;
            width: 200px;
        }

        img:hover {
            box-shadow: 15px 15px 20px rgba(50, 50, 50, 0.4);
            transform: rotate(0deg) scale(1.20);
            -webkit-transform: rotate(0deg) scale(1.20);
            z-index: 2;
        }

        img {
            padding: 10px 10px 15px;
            background: white;
            border: 1px solid #dddddd;
            box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.4);
            -webkit-transition: all 0.5s ease-in;
            -moz-transition: all 0.5s ease-in;
            -ms-transition: all 0.5s ease-in;
            -o-transition: all 0.5s ease-in;
            transition: all 0.5s ease-in;
            position: absolute;
            z-index: 1;
        }

        .pic1 {
            left: 780px;
            bottom: 200px;
            transform: rotate(-5deg);
            -webkit-transform: rotate(-5deg);
            -moz-transform: rotate(-5deg);
            -o-transform: rotate(-5deg);
        }

        .pic9 {
            left: 220px;
            top: 0;
            transform: rotate(0deg);
            -webkit-transform: rotate(20deg);
        }

        .pic7 {
            left: 0;
            bottom: 200px;
            transform: rotate(-5deg);
            -webkit-transform: rotate(-5deg);
        }

        .pic4 {
            bottom: 250px;
            left: 550px;
        }

        .pic5 {
            right: 0;
            top: 0;
            transform: rotate(5deg);
            -webkit-transform: rotate(5deg);
        }

        .pic6 {
            right: 220px;
            top: 0;
            transform: rotate(10deg);
            -webkit-transform: rotate(10deg);
        }

        .pic3 {
            left: 330px;
            top: 0;
            transform: rotate(-5deg);
            -webkit-transform: rotate(-5deg);
            -moz-transform: rotate(-5deg);
            -o-transform: rotate(-5deg);
        }


        .pic2 {
            left: 100px;
            right: 0;
            transform: rotate(5deg);
            -webkit-transform: rotate(5deg);
        }

        .pic10 {
            bottom: 200px;
            left: 440px;
            transform: rotate(5deg);
            -webkit-transform: rotate(5deg);
        }

        .pic11 {
            right: 100px;
            top: 0;
        }

        .pic12 {
            left: 650px;
            top: 20px;
            transform: rotate(10deg);
            -webkit-transform: rotate(10deg);
        }
    }
}


